@import url('https://fonts.googleapis.com/css2?family=Brygada+1918:ital,wght@1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@1,600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');

body {
    background-color: #C6B395;
    color: rgb(0, 0, 0);
    font-size: 25px;

}
header {
    display:flex;
    justify-content: center;
    align-items: center;
    padding-top: 90px;
    background-color: #554536;
    color: rgb(174, 171, 114);
    font-size:80px;
    padding-top:15px;
    padding-bottom:15px;
    font-family: 'Lobster', sans-serif;
}

.fa-solid{
    padding-left:10px;
    padding-right:10px;
    padding-top:5px;
    padding-bottom:5px;
    margin-top:10px;
    margin-left:120px;
    font-size:25px;
    color:black;
    border-style:solid;
    border-radius:10px;
    background-color:white;
}

.cart .fa-solid{
    font-size: 50px;
    margin-left:5px;
    color:black;
    border-style:none;
    background-color:#554536;
}

.bar .fa-solid{
    margin-right:100px;
    border-style:none;
    background-color: #554536;
    font-size:50px;
}
.loca .fa-solid{
    border-style:none;
    background-color:#554536;
    font-size:50px;
    margin-left:150px;
}
.search {
    margin-right:50px;
    margin-left:20px;
}
  
  * {
    box-sizing: border-box;
  }
  
form.example input[type=text] {
    padding: 10px;
    font-size: 17px;
    border: 1px solid grey;
    float: left;
    width: 80%;
    background: #f1f1f1;
}
  
form.example button {
    float: left;
    width: 20%;
    padding: 10px;
    background: black;
    color: white;
    font-size: 17px;
    border: 1px solid grey;
    border-left: none;
    cursor: pointer;
    border-style: solid;
}
.nav{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items:center;
    padding-right: 150px;
    font-size:30px;
    margin-bottom:100px;
    padding-bottom:25px;
    padding-top: 50px;
}

.nav a {
    color: rgb(174, 171, 114);
    text-decoration: none;
}
h1{
    font-family: 'Lobster', sans-serif;
    text-decoration:overline underline;
    text-align:center;
}
p{
    font-family: 'Pacifico', cursive;

}
h3{
    font-family: 'Playfair Display', serif;
    text-decoration: underline;
}


a:hover {
    color: #3e77bd;
}


.nav{
    background-color: #554536;
}


body{
    background-color:#C6B395;
}

footer h2{
    color:white;
    width:100%;
    text-align: center;
}

h2{
    font-family: 'Playfair Display', serif;
    color:black;
    text-decoration: underline;
    font-size:45px;
    text-align:center;
}

footer h2{
    color:white;
    width:100%;
}

table {
    display: table;
    border-collapse: separate;
    box-sizing: border-box;
    text-indent: initial;
    border-spacing: 2px;
    border-color: gray;
}
.community{
    display:flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-end;
}
footer {    
    display:flex;
    justify-content:space-evenly;
    flex-wrap:wrap;
    color:white;
    font-size:30px;
    background-color: #554536;
    border-style: hidden;
    border-width: 4px;
    border-radius: 8px;
    margin-top: 25px;
    padding-bottom: 45px;
    width: 85%;
    margin-left:150px;
}

.history {
    position: relative;
    text-align: center;
    padding: 1em;
}



.esta {
    position: absolute;
    top: 27%;
    bottom: 50%;
    right: 47%;
    transform: translate(100%);
}



p.esta {
    width: 30%;
    font-size: 33px;
}



h3.esta {
    top: 20%;
    right: 41%;
    font-size: 45px;
}



.story {    
    position: absolute;
    top: 27%;
    bottom: 50%;
    right: 47%;
    transform: translate(100%);
    color: aliceblue;
}



p.story {
    width: 30%;
    font-size: 35px;

}


h3.story {
    top: 20%;
    right: 38%;
    font-size: 45px;
}



/*How to change desktop to mobile*/

@media only screen and (max-width:640px) {
    body {
        grid-template-columns: 1fr;
        padding: 3em;
    }

}