.side {
    display: block;
    background-color: rgb(77, 77, 77);
    color: aliceblue;
    transition: 30s;
    z-index: 1;
    overflow: hidden;
    display: flex;
    flex-direction: column;
}



button{
    font-size: 25px;
    padding: 8px 23px;

}


button:hover{
    background-color: rgb(187, 187, 187);
    border-width: 3px;
}


.side a {
    color: rgb(82, 206, 105);
}



a:hover {
    color: rgb(110, 241, 255);
}