@import url('https://fonts.googleapis.com/css2?family=Brygada+1918:ital,wght@1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@1,600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');


header {
    display:flex;
    justify-content: center;
    align-items: center;
    padding-top: 90px;
    background-color: #554536;
    color: rgb(174, 171, 114);
    font-size:80px;
    padding-top:15px;
    padding-bottom:15px;
    font-family: 'Lobster', sans-serif;
}
.nav{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items:center;
    padding-right: 150px;
    font-size:30px;
    margin-bottom:100px;
    padding-bottom:25px;
    padding-top: 50px;;
}



.nav a {
    color: rgb(174, 171, 114);
    text-decoration: none;
}



a:hover {
    color: #3e77bd;
}


.nav{
    background-color: #554536;
}


body{
    background-color:#C6B395;
}


.cap{
    color:black;
    font-size:25px;
}

h3{
    font-family: 'Playfair Display', serif;
    color:black;
    font-size:55px;
    text-decoration: underline overline;
}

h2{
    font-family: 'Playfair Display', serif;
    color:black;
    text-decoration: underline;
    font-size:45px;
    text-align:center;
}

p{
    font-family: 'Pacifico', cursive;
    color:black;
    font-size:30px;
}

.container{
    margin-left:250px;
    margin-bottom:100px;
}

.sig {
    display:flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-left:350px;
    margin-right:200px;
    margin-bottom:100px;
}

.sig h3{
    text-align: center;
    width: 100%;
}


.ond{
    border-style:hidden;
    border-radius: 10px;;
    background-color:rgb(138, 137, 137);
    padding:15px;
    margin:15px;
    transition: box-shadow 500ms ease;
    position: relative;
}
.oreo{
    display:flex;
    flex-direction:row;
    width:75%;
    border-style:hidden;
    border-radius:50px;
    background-color:rgb(108, 139, 108);
    margin-left:200px;
    padding:25px;
    margin-bottom:100px;
}
.or1{
    border-style:hidden;
    background-color:rgb(218, 218, 172);
    margin:20px;
    text-indent:25px;
    padding:50px;
    border-radius:5px;
}

.ras{
    display:flex;
    flex-direction:row;
    width:75%;
    border-style:hidden;
    border-radius:50px;
    background-color:rgb(108, 139, 108);
    margin-left:200px;
    padding:25px;
    margin-bottom:100px;
}

.ra1{
    border-style:hidden;
    background-color:rgb(218, 218, 172);
    margin:20px;
    text-indent:25px;
    padding:50px;
    border-radius:5px;
}

.chip {
    display:flex;
    flex-direction:row;
    width:75%;
    border-style:hidden;
    border-radius:50px;
    background-color:rgb(108, 139, 108);
    margin-left:200px;
    padding:25px;
    margin-bottom:100px;
}

.ch1 {
    border-style:hidden;
    background-color:rgb(218, 218, 172);
    margin:20px;
    text-indent:25px;
    padding:50px;
    border-radius:5px;
}
.tiramisu{
    display:flex;
    flex-direction:row;
    width:75%;
    border-style:hidden;
    border-radius:50px;
    background-color:rgb(108, 139, 108);
    margin-left:200px;
    padding:25px;
    margin-bottom:100px;
}
.ti1{
    border-style:hidden;
    background-color:rgb(218, 218, 172);
    margin:20px;
    text-indent:25px;
    padding:50px;
    border-radius:5px;
}
.icon{
    display:flex;
    flex-wrap: wrap-reverse;
    flex-direction: row;
    justify-content:space-around;
    align-items:center;
    margin:100px;
}

.cookie{
    display:flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-left:300px;
    margin-right:200px;
    margin-bottom:100px;
}

.cookie h3{
    text-align:center;
    width:100%
}
.cookie .ond{
    padding:25px;
    margin-left:30px;
}
.cake {
    display:flex;
    flex-direction: row;
    flex-wrap: wrap;
}
.cake h3{
    text-align:center;
    width:100%
}
.cake .ond{
    padding:25px;
    margin-left:30px;
}
.beverages {
    display:flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.beverages h3{
    text-align:center;
    width:100%;
}

.beverages .ond{
    padding:25px;
    margin-left:30px;
}

.pudding {
    display:flex;
    flex-direction: row;
    flex-wrap: wrap;
}
.pudding h3{
    text-align:center;
    width:100%;
}
.pudding .ond{
    padding:25px;
    margin-left:30px;
}
.pastry{
    display:flex;
    flex-direction: row;
    flex-wrap: wrap;
}
.pastry h3{
    text-align:center;
    width:100%;
}
.pastry .ond{
    padding:25px;
    margin-left:30px;
}
.prodName{
    font-size:20px;
}
.prodPrice{
    font-size:25px;
}

footer h2{
    color:white;
    width:100%
}

table {
    display: table;
    border-collapse: separate;
    box-sizing: border-box;
    text-indent: initial;
    border-spacing: 2px;
    border-color: gray;
}
.community{
    display:flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-end;
}
footer {    
    display:flex;
    justify-content:space-evenly;
    flex-wrap:wrap;
    color:white;
    font-size:30px;
    background-color: #554536;
    border-style: hidden;
    border-width: 4px;
    border-radius: 8px;
    margin-top: 25px;
    padding-bottom: 45px;
    width: 95%;
    
}
.fa-solid{
    padding-left:10px;
    padding-right:10px;
    padding-top:5px;
    padding-bottom:5px;
    margin-top:10px;
    margin-left:120px;
    font-size:25px;
    color:black;
    border-style:solid;
    border-radius:10px;
    background-color:white;
}

.cart .fa-solid{
    font-size: 50px;
    margin-left:5px;
    color:black;
    border-style:none;
    background-color:#554536;
}

.bar .fa-solid{
    margin-right:100px;
    border-style:none;
    background-color: #554536;
    font-size:50px;
}
.loca .fa-solid{
    border-style:none;
    background-color:#554536;
    font-size:50px;
    margin-left:150px;
}
.search {
    margin-right:50px;
    margin-left:20px;
}
  
  * {
    box-sizing: border-box;
  }
  
form.example input[type=text] {
    padding: 10px;
    font-size: 17px;
    border: 1px solid grey;
    float: left;
    width: 80%;
    background: #f1f1f1;
}
  
form.example button {
    float: left;
    width: 20%;
    padding: 10px;
    background: black;
    color: white;
    font-size: 17px;
    border: 1px solid grey;
    border-left: none;
    cursor: pointer;
    border-style: solid;
}
  
form.example button:hover {
    background: #0b7dda;
}
  
form.example::after {
    content: "";
    clear: both;
    display: table;
}
.si1{
    display:flex;
    flex-wrap:wrap;
    width:80%;
    margin-left:5px;
    margin-right:5px;
    justify-content:space-between;
}
.sidebar{
    text-align: center;;
}
.si1 h4{
    text-align:center;
    width:100%;
    font-size:45px;
}


.name a{
    font-size:25px;
    color:rgb(196, 1, 1);
}
.li a{
    color:rgb(70, 183, 145);
}
.card{
    width:100%;
    font-size:50px;
    margin-left:100px;
}


.prodPrice::before {
    content: '$';
}
