@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@1,600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');

header {
    display:flex;
    justify-content: center;
    align-items: center;
    padding-top: 90px;
    background-color: #554536;
    color: rgb(174, 171, 114);
    font-size:80px;
    padding-top:15px;
    padding-bottom:15px;
    font-family: 'Lobster', sans-serif;
}

.fa-solid{
    padding-left:10px;
    padding-right:10px;
    padding-top:5px;
    padding-bottom:5px;
    margin-top:10px;
    margin-left:120px;
    font-size:25px;
    color:black;
    border-style:solid;
    border-radius:10px;
    background-color:white;
}

.cart .fa-solid{
    font-size: 50px;
    margin-left:5px;
    color:black;
    border-style:none;
    background-color:#554536;
}

.bar .fa-solid{
    margin-right:100px;
    border-style:none;
    background-color: #554536;
    font-size:50px;
}
.loca .fa-solid{
    border-style:none;
    background-color:#554536;
    font-size:50px;
    margin-left:150px;
}
.search {
    margin-right:50px;
    margin-left:20px;
}
  
  * {
    box-sizing: border-box;
  }
  
form.example input[type=text] {
    padding: 10px;
    font-size: 17px;
    border: 1px solid grey;
    float: left;
    width: 80%;
    background: #f1f1f1;
}
  
form.example button {
    float: left;
    width: 20%;
    padding: 10px;
    background: black;
    color: white;
    font-size: 17px;
    border: 1px solid grey;
    border-left: none;
    cursor: pointer;
    border-style: solid;
}
.nav{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items:center;
    padding-right: 150px;
    font-size:30px;
    margin-bottom:100px;
    padding-bottom:25px;
    padding-top: 50px;;
}

.nav a {
    color: rgb(174, 171, 114);
}



a:hover {
    color: #3e77bd;
}


.nav{
    background-color: #554536;
}


body{
    background-color:#C6B395;
}

footer h2{
    color:white;
    width:100%
}

table {
    display: table;
    border-collapse: separate;
    box-sizing: border-box;
    text-indent: initial;
    border-spacing: 2px;
    border-color: gray;
}
.community{
    display:flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-end;
}
footer {    
    display:flex;
    justify-content:space-evenly;
    flex-wrap:wrap;
    color:white;
    font-size:30px;
    background-color: #554536;
    border-style: hidden;
    border-width: 4px;
    border-radius: 8px;
    margin-top: 25px;
    padding-bottom: 45px;
    width: 85%;
    margin-left:150px;
}
h3{
    font-family: 'Playfair Display', serif;
    color:black;
    font-size:55px;
    text-decoration: underline overline;
}

h2{
    font-family: 'Playfair Display', serif;
    color:black;
    text-decoration: underline;
    font-size:45px;
    text-align:center;
}

h1{
    font-size:50px;
    text-decoration: underline overline;
    font-family: 'Pacifico', cursive;
    text-align:center;
}

.picture{
    display:flex;
    justify-content:center;
    
}
#products {
    max-width: 1280px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1em;
    margin-bottom: 2rem;
}