body {
    background-color:#C6B395;
    color: rgb(0, 0, 0);
    font-size: 25px;
}



header {
    display:flex;
    justify-content: center;
    align-items: center;
    padding-top: 90px;
    background-color: #8a7353;
}



h1{
    display:flex;
    justify-content: center;
    align-items: center;
}



.each-one-has-a-reference{
    display:flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}


.leave-while-you-still-can {
    border-style: solid;
    border-width: 2px;
    padding-left: 1%;
    padding-right: 4px;
    border-radius: 8px;
    width: 59%;
    margin-top: 1%;
    background-color: #ecdfc3;
    border-color: #ecdfc3;
}


.our-names-combined{
    border-style: solid;
    border-width: 2px;
    padding-left: 1%;
    padding-right: 4px;
    border-radius: 8px;
    width: 59%;
    margin-top: 1%;
    background-color: #ecdfc3;
    border-color: #ecdfc3;
}


.everyone-doesnot-acknowledge-the-fact-that-heis-red{
    border-style: solid;
    border-width: 2px;
    padding-left: 1%;
    padding-right: 4px;
    border-radius: 8px;
    width: 59%;
    margin-top: 1%;
    background-color: #ecdfc3;
    border-color: #ecdfc3;
}


.fairy-tail{
    border-style: solid;
    border-width: 2px;
    padding-left: 1%;
    padding-right: 4px;
    border-radius: 8px;
    width: 59%;
    margin-top: 1%;
    background-color: #ecdfc3;
    border-color: #ecdfc3;
}



footer {    
    text-align: center;
    color: black;
    background-color: #4c576e;
    border-style: solid;
    border-width: 4px;
    border-color: #4c576e;
    border-radius: 8px;
    margin-top: 25px;
    padding-bottom: 45px;
    width: 50%;
}


.socials{
    display: flex;
    justify-content: center;
    align-items: center;
}


table {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex-wrap: wrap;
}

.nav a {
    color: rgb(82, 206, 105);
}



a:hover {
    color: rgb(110, 241, 255);
}


.nav{
    background-color: #4e694d;
}

.community{
    display:flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-end;
}