@import url('https://fonts.googleapis.com/css2?family=Brygada+1918:ital,wght@1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@1,600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');

body{
    background-color:#C6B395 ;
    font-size: 25px;
}

.nav a {
    color: rgb(247, 244, 158);
}



.socials{
    display: flex;
    justify-content: center;
    align-items: center;
    
}


header {
    display:flex;
    justify-content: center;
    align-items: center;
    padding-top: 90px;
    background-color: #554536;
    color: rgb(174, 171, 114);
    font-size:80px;
    padding-top:15px;
    padding-bottom:15px;
    font-family: 'Lobster', sans-serif;
}
.fa-solid{
    padding-left:10px;
    padding-right:10px;
    padding-top:5px;
    padding-bottom:5px;
    margin-top:10px;
    margin-left:120px;
    font-size:25px;
    color:black;
    border-style:solid;
    border-radius:10px;
    background-color:white;
}

.cart .fa-solid{
    font-size: 50px;
    margin-left:5px;
    color:black;
    border-style:none;
    background-color:#554536;
}

.bar .fa-solid{
    margin-right:100px;
    border-style:none;
    background-color: #554536;
    font-size:50px;
}
.loca .fa-solid{
    border-style:none;
    background-color:#554536;
    font-size:50px;
    margin-left:150px;
}
.search {
    margin-right:50px;
    margin-left:20px;
}
  
  * {
    box-sizing: border-box;
  }
  
form.example input[type=text] {
    padding: 10px;
    font-size: 17px;
    border: 1px solid grey;
    float: left;
    width: 80%;
    background: #f1f1f1;
}
  
form.example button {
    float: left;
    width: 20%;
    padding: 10px;
    background: black;
    color: white;
    font-size: 17px;
    border: 1px solid grey;
    border-left: none;
    cursor: pointer;
    border-style: solid;
}
.nav{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items:center;
    padding-right: 150px;
    font-size:30px;
    margin-bottom:100px;
    padding-bottom:25px;
    padding-top: 50px;;
}

.nav a {
    color: rgb(174, 171, 114);
    text-decoration: none;
}



a:hover {
    color: #3e77bd;
}


.nav{
    background-color: #554536;
}


body{
    background-color:#C6B395;
}

footer h2{
    color:white;
    width:100%;
}

table {
    display: table;
    border-collapse: separate;
    box-sizing: border-box;
    text-indent: initial;
    border-spacing: 2px;
    border-color: gray;
}
.community{
    display:flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-end;
}
footer {    
    display:flex;
    justify-content:space-evenly;
    flex-wrap:wrap;
    color:white;
    font-size:30px;
    background-color: #554536;
    border-style: hidden;
    border-width: 4px;
    border-radius: 8px;
    margin-top: 25px;
    padding-bottom: 45px;
    width: 85%;
    margin-left:150px;
}
h3{
    color:black;
    font-size:30px;
}

h2{
    font-family: 'Playfair Display', serif;
    color:black;
    text-decoration: underline;
    font-size:45px;
    text-align:center;
}
.si1{
    display:flex;
    flex-wrap:wrap;
    width:80%;
    margin-left:5px;
    margin-right:5px;
    justify-content:space-between;
}
.prodPrice::before {
    content: '$';
}

.product:hover,
.cartItem:hover {
    box-shadow: 0 3px 5px rgba(0, 0, 0, 0.5);
}

.prodImage {
    width: 100%;
    height: auto;
    aspect-ratio: 3 / 2;
    object-fit: cover;
}

.prodPrice::before {
    content: "$ ";
}

.prodPrice {
    display: inline-block;
    margin-top: 0.5em;
}

.prodBtn,
.removeBtn,
#emptyCart {
    display: block;
    float: right;
    color: black;
    padding: 15px;
    margin-bottom:10px;
    text-decoration: none;
    border-radius: 0.5em;
    transition: background-color 500ms ease;    
}

.prodBtn:hover {
    background-color: white;
    color: yellow;
    padding:10px;
}

.removeBtn,
#emptyCart {
    background-color: white;
    border-style:solid;
    border-width:5px;
}
.removeBtn:hover,
#emptyCart:hover {
    background-color: red;
}

#emptyCart {
    margin-top: 0.5em;
}

#cart {
    max-width: 1280px;
    margin: 0 auto;
    display: grid;
    grid-auto-rows: 25vh;
    gap: 1em;
    margin-bottom: 2rem;
}

.cartItem {
    border:hidden;
    box-shadow: 5px 6px 5px #1f2822;
    border-radius:10px;
    background-color: #617869;
    padding: 0.5rem;
    transition: box-shadow 500ms ease;
    display: flex;
    gap: 1em;
    position: relative;
}

.cartItem img {
        height: auto;
        aspect-ratio: 1 / 1;
        object-fit: contain;
        flex-shrink: 1;
}

.cartItem .cartItemInfo {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.cartItem .cartItemPricing {
    display: flex;
    justify-content: space-between;
}

.cartTotal {
    text-align: right;
}

.cartTotal h3{
    padding:15px;
    width: fit-content;
    border-style:solid;
    border-width:5px;
    background-color:white;
    border-radius:10px;
    position: relative;
    left: 37em;
}

@media only screen and (max-width:640px){

    

}